# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP .NET Core service.
version: '3.4'

services:
  api:
    image: api
    build:
      context: .
      dockerfile: API/Dockerfile
    depends_on:
      - db

  db:
    image: postgres
    container_name: 'postgres_container'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
